doctype html

html
    head
        title Review
        style
            include .\styles\exampleReview.css
body
    include .\header
    div#main
        h1 Reviewer: ThisPersonHatesMovies
        h1 Movie: Mission Impossible I
    div#review
        h2 Score: 5/10
        br
        b Summary Text: 
        p I hate this movie, but its pretty good
        br
        br

        b Full Text: 
        p I found that this movie was super boring, but the cinematics were quite amazing, honestly I dont mind.