doctype html

html
    head
        title Some Person
        style
            include .\styles\person.css
body
    include .\header
    div#main
        h1 Name: Super Random Person
        button(name = 'person1',onclick='unfollow(personID)') Unfollow

    div#Collaborator
        h2 Frequent Collaborator
        a(href='/profile')  Kyle_PS
        br
        a(href='/profile')  Kaushik_P
        br
        a(href='/profile')  Elon_Muskrat
        br

    div#history
        h2 Work History: 

        h3 Writer:
        a(href='/movie/0')  The Ballad of Cable Hogue
        br
        a(href='/movie/1')  An American Tail: Fievel Goes West
        br
        a(href='/movie/8')  The Incredible Mr. Limpet
        br

        h4 Director: 
        a(href='/movie/2') House of Games
        br
        a(href='/movie/4') The Godfather: Part II
        br
        h5 Actor:
        a(href='/movie/7') Little Women
        br
        a(href='/movie/5') Woman on Top
        br
