doctype html

html
    head
        title Others Example Profile
        style
            include .\styles\exampleOtherProfile.css
body
    include .\header
    div#main
        h1 Username: Other Profile
    div#followingPeople
        h2 Following: 
        a(href='/person')  Tom Cruise
        br
        a(href='/person')  Bernie Sanders
        br
        a(href='/person')  Chadwick Boseman

    div#followingUser
        h2 Users Following: 
        a(href='/profile')  Kaushik_P
        br
        a(href='/profile')  DAVE_MCK
        br
        a(href='/profile')  Elon_MusKrat

    div#WatchList
        h3 Watch List: 
        a(href='/movie/0')  The Ballad of Cable Hogue
        br
        a(href='/movie/1')  An American Tail: Fievel Goes West
        br
        a(href='/movie/8')  The Incredible Mr. Limpet
        br

    div#Recommends 
        h4 Recommended Movies: 
        a(href='/movie/SomeRandonMovie')  SomeRandonMovie
        br
        a(href='/movie/SomeRandonMovie2')  SomeRandonMovie2
        br

    div#Reviews 
        h5 Reviews Written: 
        a(href='/review')  Mission Impossible I
        br
        a(href='/review')  Elon Tusks: A sea lions journey to freedom
        br