
div#header
a(href="/") Home
|
b   
a(href="/ownProfile") Profile
|
b   
a(href="/creation") Sign Up/Log In
|
b   
a(href="/search") Search
|
b   
a(href="/contribute") Contribute 
|
b
a(href="/logout") Logout 
|
