doctype html
html(lang='en')

html
    head
        title PogChamp movieDB
        style
            include .\styles\index.css
        
body
    include .\header
    div#main
        h1 PogChamp movieDB
        h2 List of Movies:
        div#info
            each movie in movies
                a(href="/movie/" + movie.ID) #{movie.Title}
                br