doctype html

html
    head
        title PogChamp moviesDB
body
    include .\header
    div#main
        h1 PogChamp moviesDB
        h2 List of Movies:
        each movie in movies
            a(href="/movie/" + movie.Title) #{movie.Title}
            br