doctype html


html
    head
        title PogDB - Home
        style
            include .\styles\index.css
        
body
    include .\header
    div#main
        br
        br
        h1 PogChamp movieDB
        div#list
            h2 List of Movies:
            div#info
                each movie in movies
                    a(href="/movie/" + movie.ID) #{movie.Title}
                    br
                br
                div#page
                    div#prev
                        a(href="/movies/page/"+("prev")) Previous
                    div#next
                        a(href="/movies/page/"+("next")) Next
