doctype html
html(lang='en')

html
    head
        title Your Profile
        style
            include .\styles\ownProfile.css
body
    include .\header
    div#main
        h1 Username: #{user.name}
    div#userType
        input(type='radio', name='regular', value='1')#wnr1
        label(for='regular')
        span.
            Regular 
        br
        input(type='radio', name='contributing', value='2')#wnr2
        label(for='contributing')
        span.
            Contributing
        br
        button(onclick='updateUser()') Save
        br
        br

    div#followingPeople
        h2 People you follow: 
        each person in user.followingActors 
            br
            button(name = 'person1',onclick='unfollow(person)') Unfollow
            a(href='/person/'+person)  #{person.name}
            br

    div#followingUser
        h2 Users you follow: 
    
        each user in user.following
            br
            button(name = 'user',onclick='unfollow(user)') Unfollow
            a(href='/profile/'+user) #{user}
            br

    div#WatchList
        h3 Watch List: 
        each movie in user.watchlist
            br 
            button(name = 'movie',onclick='removeWatchList(movie)') Remove
            a(href='/movie/'+movie) #{movie}
            br
        
       

    div#Recommends 
        h4 Recommended Movies: 
        a(href='/movie/1')  SomeRandonMovie
        br
        a(href='/movie/5')  SomeRandomMovie2
        br
        
    div#notifications 
        h5 Notification Center: 
        button(name = 'movie1',onclick='removeElement(elementID)') Delete
        button(name = 'movie1',onclick='viewNotif(notifID)') View
        b  Kaushik_P added a new movie

        br
        button(name = 'movie1',onclick='removeElement(elementID)') Delete
        button(name = 'movie1',onclick='viewNotif(notifID)') View
        b  Elon_Musk added a new review