doctype html

html
    head
        title Search Results
        style
            include .\styles\resultsExample.css
body
    include .\header
    div#main
    h1 Search Results
    h2 List of Movies That Match Parameters:
    each movie in movies
        a(href="/movie/" + movie.ID) #{movie.Title}
        br