doctype html
html(lang='en')

html
    head
        title Review
        style
            include .\styles\review.css
body
    include .\header
    div#main
        br
        br
        h1 PogChamp movieDB
    div#info
        h2 Review by: #{review.reviewer}
        div#movie
            a(href="/movie/"+review.movie) See Movie
        h3 Score:
        p #{review.score}
        h3 Summary Text: 
        p #{review.sum}

        h3 Full Text: 
        p #{review.full}