doctype html

html
    head
        title Search
        style
            include .\styles\search.css
body
    include .\header
<form action="/searchresults?" method="POST">
    <label for="Title">Title:   </label>
    <input id="title" type="text" name="Title-field">
    br
    <label for="Genre">Genre: </label>
    <input id="Genre" type="text" name="Genre-field">
    br
    <label for="Name">Name: </label>
    <input id="Name" type="text" name="Name-field">
    br
    <input type="submit" value="Search">
</form>