doctype html

html
    head
        title Search Results
        style
            include .\styles\searchResults.css
body
    include .\header
    div#main
    h1 Search Results
    h2 List of Movies That Match Parameters:

    b Movies 
    br
    each movie in movies
        a(href="/movie/" + movie.ID) #{movie.Title}
        br

    b Persons
    br
    each person in persons 
        a(href="/person/"+person.name) #{person.name}
        br