h1{
    color:#bf616a;
    text-align: center;
}
body {
    background-color: #2e3440;
    color:#EBCB8B;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}
#info {
    margin: auto;
    width: 25%;
    border: 3px solid #3b4252;
    padding: 10px;
    background-color: #434c5e;
    text-align: left;
    border-radius: 10px;
}
#next {
    text-align: center;
}
#prev {
    width: 100%;
}
#page {
    padding: 0.5em;
    margin: auto;
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
  }