h1{
    color:#CB5B44
}
body {
    background-color: #2e3440;
    color:#EBCB8B;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: center;
}
#info {
    margin: auto;
    width: 50%;
    border: 3px solid #3b4252;
    padding: 10px;
    background-color: #434c5e;
    text-align: left;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px; /* you can use % */
    height: auto;
}
#reviews {
    margin: auto;
    width: 50%;
    border: 3px solid #3b4252;
    padding: 10px;
    background-color: #434c5e;
    text-align: left;
}