h1{
    color:#bf616a;
}
body {
    background-color: #2e3440;
    color:#EBCB8B;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: left;
}

a:link {
    color: #88c0d0;
}

a:visited {
    color: #b48ead;
}
